@use "_variables" as *;

// mixins
@mixin h-fonts($fontFamily: $headline-font, $fontSize: 2em) {
    font-family: $fontFamily;
    font-size: $fontSize;
}
@mixin b-fonts($fontFamily: $body-font, $fontSize: 1em) {
    font-family: $fontFamily;
    font-size: $fontSize;
}
@mixin l-fonts($fontFamily: $link-font, $fontSize: 1em) {
    font-family: $fontFamily;
    font-size: $fontSize;
}
@mixin upper() {
    text-transform: uppercase;
}

//div {
//   padding: .5em;
//   border: solid black 1px;
//}

// main headings
h1 {
    @include h-fonts();
    color: $dark-text-color;
    background-color: $accent1-color;
    //width: 20%;
}
h2 {
    @include h-fonts();
    color: $accent2-color;
    
}

// other headings
.preamble h3,
.explanation h3,
.requirements h3 {
    @include h-fonts();
    @include upper();
    color: $dark-text-color;
    margin-left: 25px;
    margin-right: 25px;
}
.participation h3,
.benefits h3,
.design-selection h3,
.design-archives h3,
.zen-resources h3 {
    @include h-fonts();
    @include upper();
    color: $light-text-color;
    margin-left: 25px;
    margin-right: 25px;
}

// body text
.preamble p,
.explanation p,
.requirements p {
    @include b-fonts();
    color: $dark-text-color;
    margin-left: 25px;
    margin-right: 25px;
}
.summary p,
.participation p,
.benefits p {
    @include b-fonts();
    color: $light-text-color;
    margin-left: 25px;
    margin-right: 25px;
    
}
.requirements a {
    @include l-fonts();
    color: $dark-text-color;
    text-decoration: none;

}

// links
.summary a,
.participation a,
footer a,
.sidebar a {
    @include l-fonts();
    color: $light-text-color;
    text-decoration: none;
}
//a:visited {
//    color: $light-text-color;
//}
//a:hover, a:active {
//    color: $accent2-color;
//}


