// Atoms (elements) partial
@use "variables" as *;


// mixin for fonts
@mixin font($fnt-fam: $headline-font, $fnt-sze: 48px, $fnt-clr: $text-color) {
    font-family: $fnt-fam;
    font-size: $fnt-sze;
    color: $fnt-clr;
}

// elements
h1 {
    @include font();
    text-align: center;
}
h2 {
    @include font($fnt-sze: 42px);
    text-align: center;
    abbr {
        @include font($fnt-sze: 42px, $fnt-clr: $accent-color-1);
    }
}
h3 {
    @include font($fnt-sze: 36px, $fnt-clr: $text-color);
    padding: 0 48px;
}
.design-selection h3, .design-archives h3, .zen-resources h3 {
    @include font($fnt-sze: 30px, $fnt-clr: $text-color);
    padding: 0 42px;
}
p {
    @include font($fnt-fam: $body-font, $fnt-sze: 24px);
    padding: 0 50px;
}
abbr {
    @include font($fnt-fam: $body-font, $fnt-sze: 24px, $fnt-clr: $accent-color-1);
}
.design-selection abbr, .design-archives abbr, .zen-resources abbr {
    @include font($fnt-fam: $body-font, $fnt-sze: 18px, $fnt-clr: $accent-color-2);
}
// transition effects on pseudo selectors
abbr:hover {
    opacity: 0.5;
}
a {
    @include font($fnt-fam: $link-font, $fnt-sze: 24px, $fnt-clr: $accent-color-2);
    text-decoration: none;
}
.design-selection a, .design-archives a, .zen-resources a {
    @include font($fnt-fam: $link-font, $fnt-sze: 18px, $fnt-clr: $accent-color-2);
}
a:visited {
    opacity: 0.5;
}
a:hover {
    background-color: $accent-color-2;
    padding: 2px 5px;
    border-radius: 5px;
    color: $accent-color-1;
}
a:active {
    text-decoration: underline;
}
ul {
    list-style-type: circle;
}
li {
    @include font($fnt-fam: $body-font, $fnt-sze: 12px);
    color: $accent-color-1;
    padding: 5px;
}