// Molecules (blocks) partial
@use "variables" as *;
@use "atoms" as *;


header::before {
    @include planet();
    left: 20%;
    z-index: -1;
}    
header::after {
    @include planet(
        $wdth: 150px,
        $hght: 150px,
        $img: linear-gradient(
        to top,
        $planet-color-3 0%,
        $planet-color-4 50%,
        $planet-color-5 100%)
    );
    left: 75%;
    z-index: -1;
}

// intro
.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
// sub-intro
header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    text-align: center;
    background-image: linear-gradient($primary-color, $accent-color-1);
}
.summary {
    background-color: $accent-color-1;
}
.preamble {
    background-color: $accent-color-1;
}

// main
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
// sub-main
.explanation {
    background-color: $accent-color-1;
}
.participation {
    background-color: $accent-color-1;
}
.benefits {
    background-color: $accent-color-1;
}
.requirements {
    background-color: $accent-color-1;
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: $accent-color-2;
}

// sidebar
.sidebar > .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
}
// sub-sidebar
.design-selection {
    grid-row: 1 / span 2;
    @include font($fnt-sze: 1em, $fnt-clr: $text-color-light);
    text-transform: uppercase;
    background-color: $accent-color-2;
}
.design-archives {
    @include font($fnt-sze: 1em, $fnt-clr: $text-color-light);
    text-transform: uppercase;
    background-color: $accent-color-2;
}
.zen-resources {
    @include font($fnt-sze: 1em, $fnt-clr: $text-color-light);
    text-transform: uppercase;
    background-color: $accent-color-2;
}

//nav {
//    display: flex;
//    flex-flow: row nowrap;
//    background-color: $accent-color-2;
//}

// animations
abbr {
    animation: rotate 5s alternate;
}
abbr:hover {
    @keyframes rotate {
        0% {
            transform: rotateX(0);
        }
        20% {
            transform: rotateX(360deg);
        }
        40% {
            transform: rotateX(0);
        }
        60% {
            transform: rotateY(0);
        }
        80% {
            transform: rotateY(360deg);
        }
        100% {
            transform: rotateY(0);
        }
    }
}
