// fonts
$headline-font: 'Roboto', sans-serif;;
$body-font: 'Space Grotesk', sans-serif;
$link-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;

// colors
$primary-color: #CCCCCC;
$background-color: #000000;
$accent-color-1: #fff9d9;
$accent-color-2: #003350;
$accent-color-3: #1c0050;
$text-color-light: #ffffff;
$text-color-dark: #000000;