// fonts
$headline-font: 'Lora',serif;
$body-font: 'Lato', sans-serif;
$link-font: 'Lora', serif;


// colors
$primary-color: #041936;
$accent1-color: #cae5f8;
$accent2-color: #0d314d;
$light-text-color: white;
$dark-text-color: #040613;

