// fonts
$headline-font: 'Space Grotesk', sans-serif;
$body-font: 'Roboto', sans-serif;
$link-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;

// colors
$primary-color: #cccccc;
$background-color: #000000;
$accent-color-1: #ff0000;
$accent-color-2: #fff9d9;
$text-color: #ffffff;
$planet-color-1: #a41515;
$planet-color-2: #650606;
$planet-color-3: #a98956;
$planet-color-4: #5b3e10;


