// fonts
$font-body: 'Lato', sans-serif;
$font-headlines: 'Lora',serif;
$font-links: 'Lora', serif;


// colors
$primary: #041936;
$accent1: #076db8;
$accent2: #34a4cf;
$light-text: white;
$dark-text: #040613;
$background: #223d52;

