// modules
@use "_atoms";
@use "_molecules";
@use "_organisms";

* {
    box-sizing: border-box;
}
.page-wrapper {
    display: flex;
    flex-flow: column wrap;
}
//.intro {
//    display: flex;
//    flex-flow: column wrap;
//}
header,
.summary,
.preamble {
    justify-content: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.preamble::after {
    //content: "("height(150px),width(150px),border(solid white 2px),border-radius(50%)")";
    //(height: 150px),
    //(width: 150px),
    //(border: solid white 2px),
    //(border-radius: 50%);
}