@use "style-guide-variables" as *;
@use "style-guide-atoms";
@use "style-guide-molecules";

html {
    display: flex;
    flex-flow: column nowrap;
    background-color: $background-color;
    padding: 25px;
}