@use "style-guide-variables" as *;
@use "style-guide-atoms";

header,
.fonts,
.colors,
.elements,
.wireframes,
footer {
    background-color: #ffffff;
    padding: 25px;
    margin: 25px;
    width: auto;
}
.colors {
    display: flex;
    flex-flow: row wrap; 
}
.fonts > h3,
.colors > h3,
.elements > h3,
.wireframes > h3 {
    text-shadow: 1px 1px 10px;
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}